* {
  box-sizing: border-box;
}


body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  user-select: none;
  -webkit-app-region: drag;
  
  margin: 0;
  background: transparent;
  overflow: hidden;

}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
     width: 214px;
  height: 228px;
    padding: 0;
   overflow: hidden;
   
 
    background-image: url("assets/outer-frame-bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
 
}
.content {
  padding: 1rem 1.0625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

button,
input,
textarea,
select {
  -webkit-app-region: no-drag;
  cursor: pointer;
}

.title {

    display: flex;
    width: 157px;
    aspect-ratio: 157/27;
    padding: 0.25rem 0.625rem;
    justify-content: center;
    align-items: center;

    border-radius: 6.25rem;
    border: 1px solid #037B76;
    background: #02B63B;

    color: var(--white, #FFF);

    /* text styling */
   font-family: "Pixelify Sans", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
      white-space: nowrap;

}

#calendar { 
    display: flex;
    width: 11.25rem;
    height: 10.0625rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    background-image: url("assets/inner-frame-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    }

#day {
    color: #FFF;
    text-align: center;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: var(--mid-purple, #4ECD62);
   font-family: "Jersey 10", monospace;
    font-size: 8.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; 
    letter-spacing: 0.45rem;

    display: flex;
    width: 11.25rem;
    height: 4.4375rem;
    flex-direction: column;
    justify-content: center;

}

#month {

    color: #FFF;
    text-align: center;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #46B659;
   font-family: "Jersey 10", monospace;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; 
    letter-spacing: 0.3rem;

    width: 8.125rem;

}
